{{ if eq .osid "linux-ubuntu" -}}
#!/bin/bash

set -Eeuo pipefail

# Set secure permissions on created directories and files
umask 077

# Set up colors
red=$(tput setaf 1)
green=$(tput setaf 2)
reset=$(tput sgr0)


# Sanity check to ensure chezmoi is in PATH
if [ ! "$(command -v chezmoi)" ]; then
  bin_dir="$HOME/.local/bin"
  chezmoi="$bin_dir/chezmoi"
else
  chezmoi=chezmoi
fi

echo "${green}Enabling all user sockets${reset}"
systemctl --user enable ~/.config/systemd/user/*.socket &>/dev/null || true
echo "${green}Enabling all user timers${reset}"
systemctl --user enable ~/.config/systemd/user/*.timer &>/dev/null || true

echo "${green}Enable pcscd socket for smart card support${reset}"
sudo systemctl enable --now pcscd.socket
sudo systemctl enable --now pcscd.service

echo "${green}Cleaning empty media directories${reset}"
rmdir ~/Documents/ ~/Pictures/ ~/Public/ ~/Videos/ &>/dev/null || true

echo "${green}Changing from (possible) https to ssh${reset}"
${chezmoi} git remote set-url origin git@github.com:{{ .chezmoi.username }}/dotfiles

# -*-mode:shellscript-*- vim:ft=bash
{{- end -}}
